<h2 >Add Department</h2>
    <div class="row" id='form-container'>
        <div class="col-md-12" id='form'>                
            <br>
            <form action="/department/add" method="post">
            <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">Department Name</label>
                        <input name="departmentName" class="form-control" id="DepartmentName" type="text">
                    </div>
                </div>  
            </div>
            <input class="btn btn-primary pull-right" type="submit" value="Add Deparment"><br><br><br>
                 </form>
            </div>
        </div>
    