<div	class="row">
    <div	class="col-md-12">
    	<h2>departments 
             <a href="/department/add" class="btn btn-success pull-right">Add New Employee</a>
        </h2> <hr/>
       <table class="table ">
            <thead>
            <tr>
                <th>Department&nbsp;Number</th>
                <th>Department&nbsp;Name</th>
            </tr>
            </thead>
            <tbody>
                    {{#each department}}
                    {{#departments}}  {{this}} {{/departments}}
                    {{/each}}
                </tbody>
            </table>
    </div>
        {{#unless department}}
            <div	class="col-md-12	text-center">
                <strong>{{message}}</strong>	
            </div>	
        {{/unless}}
</div>	